ul, ol {list-style: none; }
.orange { color: #f89406; }
.shp { font-family: "微软雅黑"; background-color: #f5f5f5; width: 960px; }
.shp li { line-height: 150%; }
.shp-hd { font-size: 24px; }
.shp-hd h2 { margin-left: 25px; }
.shp-bd { position: relative; height: 360px; }
.shp-item { position: absolute; z-index: 1; padding-top: 75px; }
.shp-item li { font-size: 20px; line-height: 32px; }
.shp-img li {display: none; position: absolute; z-index: 0; top: 0px; right: 0px; }